<main>
  <p>
    <button class="focus">Click me to set focus inside demo iframe.</button>
  </p>

  <p>Other content above the dropdown.</p>

  <div class="simulated-select"></div>

  <p>Other content below the dropdown. <button>Some button</button></p>

  <p>Tested on Chrome, Firefox, Mac, Android.</p>

  <p><small id="activeElement"></small></p>
</main>

<style>
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: avenir, tahoma, monospace;
    display: flex;
    /*
    justify-content: center;
    align-items: center;
    */
    width: 200vw;
    height: 150vh;
    /* padding-left: 100vh; */
    /* padding-top: 100vh; */
  }

  main {
    width: 100%;
    margin: 1rem;
    /* text-align: right; */
  }

  button.focus {
    width: 35ch;
    padding-block: 0.5rem;
  }

  #activeElement {
    position: fixed;
    bottom: 10px;
    color: grey;
  }

  .simulated-select,
  .simulated-select-options-wrapper {
    animation: highlight 3s;
  }

  @keyframes highlight {
    from {
      background: lime;
      outline: 3px solid lime;
    }

    to {
      background: revert;
      outline: revert;
    }
  }
</style>
