@import 'on-circle';

html {
  --br: 1rem !important;
}

.simulated-select,
.simulated-select-options-wrapper,
.simulated-select-options-end {
  border-radius: var(--br) !important;
  &:focus {
    outline-offset: 5px;
  }
}

.simulated-select {
  margin: -200px auto 0;

  .simulated-select-options-wrapper {
    max-width: 500px;
    max-height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    [role="option"] {
      border-radius: var(--br) !important;
      line-height: 0;
      height: 2rem !important;
      padding: 1rem !important;
      margin: 0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      transition: width 0.2s, background 0.5s;
      text-decoration: none;

      &[value=""] {
        width: 100%;
      }

      &:not([value=""]) {
        color: transparent;
        width: 2rem !important;
      }

      &::first-letter {
        color: black;
        margin-left: -0.5ch;
      }

      &:focus {
        color: revert;
        width: 100% !important;
        background: rgba(255, 255, 0, 0.75);
        outline: 3px solid lime;
        z-index: 1;
      }
      
      &[selected] {
        color: revert;
      }

    }

  }

  .simulated-select-options-wrapper:not(:focus-within) {
    [role="option"] {
      width: 100% !important;
    }
  }

  .simulated-select-options-wrapper:focus-within {
    @include on-circle($item-count: 17, $circle-size: 300px, $item-size: 1rem);
    overflow: hidden;
    width: 400px;
    height: 400px;

    [role="option"] {
      margin: -1rem;
    }
  }

}

.simulated-select .simulated-select-options-wrapper [role="option"] {
  border: none !important;

  &:nth-child(2):not(:focus) {
    background: red;
  }
  &:nth-child(3):not(:focus) {
    background: yellow;
  }
  &:nth-child(4):not(:focus) {
    background: beige;
  }
  &:nth-child(5):not(:focus) {
    background: green;
  }
  &:nth-child(6):not(:focus) {
    background: purple;
  }
  &:nth-child(7):not(:focus) {
    background: maroon;
  }
  &:nth-child(8):not(:focus) {
    background: blue;
  }
  &:nth-child(9):not(:focus) {
    background: lightgreen;
  }
  &:nth-child(11):not(:focus) {
    background: lightgreen;
  }
  &:nth-child(12):not(:focus) {
    background: lightyellow;
  }
  &:nth-child(13):not(:focus) {
    background: lemonchiffon;
  }
  &:nth-child(14):not(:focus) {
    background: orange;
  }
  &:nth-child(15):not(:focus) {
    background: lightcoral;
  }
  &:nth-child(16):not(:focus) {
    background: orange;
  }
  &:nth-child(17):not(:focus) {
    background: peachpuff;
  }

  &::first-letter,
  &:focus,
  &[selected] {
    text-shadow:
    -1px -1px 0 white,  
     1px -1px 0 white,
    -1px  1px 0 white,
     1px  1px 0 white;
  }
}